
// color variables

$white: #ffff;
$black: #000000;
$lightWhite : #EDEDED;
$lightBlack : #544949;
$primary: #63899E;
$secondary: #BEBEBE;

// responsive sizes

$smallPhone: 290px;
$phone: 380px;
$smallTablet: 768px;
$tablet: 1024px;
$smallLaptop: 1200px;
$laptop:1600px;

// main padding for page

$mainPadding : 6rem;
$mainPaddingPhone : 2rem;
$mainPaddinglaptop : 4rem;
$mainPaddingtablet : 3rem;