@import "../mixins.scss";
@import "../variables.scss";

.overlay{
    width: 100%;
    height: 100vh;
    display: flex;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .overlay-left{
        width: 50%;
        height:100vh;
        background-color: $secondary;
        position: absolute;
        left: 0;
        top: 0;
        @media (max-width: $smallTablet){
            width: 100%;
            height: 50%;
        }
    }
    .overlay-right{
        width: 50%;
        height:100vh;
        background-color: $primary;
        position: absolute;
        right: 0;
        bottom: 0;
        @media (max-width: $smallTablet){
            width: 100%;
            height: 50%;
        }
    }
}